
  .menu {
      display: flex;
      width: 100%;
      background: #1e272e;
    }

    .logo {
      flex: auto;
      font-size: 30px;
      padding: 10px 50px;
      color: white;
    }

    .menuItems {
      flex: auto;
      justify-content: flex-end;
      display: flex;
    }

    .menuItem:hover {
      background: #ff3f34;
    }

    .menuItem {
      font-size: 20px;
      font-weight: lighter;
      text-decoration: none;
      color: white;
      padding: 20px 50px;
    }

    body {
      background-image: url("https://pan.baidu.com/static/images/16new/bg3.jpg");
      background-size: cover;
      background-position-y: 65px;
      margin: 0;
      font-family:"Microsoft YaHei UI";
    }

    .card {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      background: white;
      border-radius: 10px;
      box-shadow: #111111 1px 1px 10px;
      overflow: hidden;
    }
    .content:before{
      content: "“";
      color: #d2dae2;
      font-size: 70px;
      font-weight: bold;
    }
    .content{
      color: white;
      position: absolute;
      top:50%;
      left: 15%;
      font-size: 50px;

    }
    .content:after{
      content: "”";
      color: #d2dae2;
      font-size: 70px;
      font-weight: bold;
    }
    form {
      margin: 30px 30px 0;
    }

    .title {
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      display: flex;
      margin: 0 auto 25px;
    }

    input[type="text"], input[type="password"] {
      display: block;
      font-size: 15px;
      width: 300px;
      padding: 14px 10px;
      outline: none;
      border: solid 1px #d2dae2;
      text-align: left;
      margin: 5px 0;
    }

    .remember {
      display: block;
      font-size: 13px;
      margin: 15px 0;
    }

    input[type="submit"] {
      display: block;
      padding: 12px 140px;
      border-radius: 5px;
      font-size: 15px;
      outline: none;
      border: none;
      cursor: pointer;
      background: #0fbcf9;
      color: white;
      margin: auto;
    }

    .function {
      margin: 20px 0 0;
      background: rgba(213, 233, 250, 0.58);
      padding: 20px;
    }

    .funcItem {
      font-size: 17px;
      font-weight: lighter;
      text-decoration: none;
      padding: 40px;
      color: #0fbcf9;
    }